<div *ngIf="questionnaire" class="questionnaire-container">
    <h2>Questionnaire</h2>
    <div>
        <p><strong>Subject Type:</strong> {{ subjectType.join(', ') }}</p>
        <p><strong>Status:</strong> {{ status }}</p>
    </div>
    <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()" class="form">
        <ng-container *ngFor="let question of questionItems" class="form-field">
            <mat-form-field *ngIf="question.type !== 'boolean'" appearance="fill" class="form-field">
                <mat-label class="question-label">{{ question.text }}</mat-label>
                <ng-container [ngSwitch]="question.type">

                    <!-- For choice questions -->
                    <mat-select *ngSwitchCase="'choice'" [formControlName]="question.linkId">
                        <mat-option *ngFor="let option of question.option" [value]="option.valueCoding.code">
                            {{ option.valueCoding.display }}
                        </mat-option>
                    </mat-select>

                    <!-- For date questions -->
                    <div *ngSwitchCase="'date'" class="date-field">
                        <input matInput [formControlName]="question.linkId" [matDatepicker]="picker"
                            placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>

                    <!-- For string questions -->
                    <input matInput *ngSwitchDefault [formControlName]="question.linkId" type="text">
                </ng-container>
            </mat-form-field>

            <!-- For boolean questions -->
            <div *ngIf="question.type === 'boolean'" class="boolean-field">
                <mat-label class="question-label">{{ question.text }}</mat-label>
                <mat-radio-group [formControlName]="question.linkId">
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </ng-container>
        <button mat-raised-button type="submit" class="submit-button" [disabled]="isSubmitDisabled()">Submit</button>
    </form>
</div>