.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .custom-card {
      width: 300px;
      height: 300px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .mat-card-header {
        padding: 10px;
      }

      .mat-card-content {
        text-align: center;
        flex-grow: 1;

        .sublink-container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          div {
            width: 100%;
          }
        }
      }

      .mat-card-actions {
        display: flex;
        justify-content: center;

        a {
          margin: 0 5px;
        }
      }
    }
  }
}